/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body {
    height: 100vH;
    margin:0; padding:0;
    background: rgba(0, 0, 0, 0) url(assets/login-bg.jpg) no-repeat scroll 0 0;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: 'Source Sans Pro', sans-serif;
}

